@model PoliticPolls.DataModel.PoliticianSets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>politician_sets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Politician.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Politician.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poll.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poll.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
