@model IEnumerable<PoliticPolls.DataModel.PoliticianSets>

@{
    ViewBag.Title = "Рейтинг политиков";
}

<h2>Рейтинг политиков</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Politician.Surname) @Html.DisplayNameFor(model => model.Politician.Name) @Html.DisplayNameFor(model => model.Politician.Patro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poll.Respondent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Politician.Surname) @Html.DisplayFor(modelItem => item.Politician.Name) @Html.DisplayFor(modelItem => item.Politician.Patro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poll.Respondent.Surname) @Html.DisplayFor(modelItem => item.Poll.Respondent.Name) @Html.DisplayFor(modelItem => item.Poll.Respondent.Patro)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { IdPoll = item.IdPoll, IdPolitician = item.IdPolitician }) |
            @Html.ActionLink("Подробнее", "Details", new { IdPoll = item.IdPoll, IdPolitician = item.IdPolitician }) |
            @Html.ActionLink("Удалить", "Delete", new { IdPoll = item.IdPoll, IdPolitician = item.IdPolitician })
        </td>
    </tr>
}

</table>
